multi_variable_regression.csv
Linear_regression_with_multiple_variables.ipynb
Linear_regression_with_one_variable copy.ipynb
Linear_regression_lecture.ipynbSalary.csv
Salary.csv
Linear_regression_lecture.ipynb